@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/roboto';
@import '@fontsource/roboto/700.css';
@import '@fontsource/fira-code';

@layer utilities {
    .hoverable-item {
        @apply hover:text-blue;
        @apply hover:font-bold;
    }
}

.prose h2 {
    font-size: 30pt;
}

.prose h2:hover {
    color: #89b4fa
}

.prose :is(h2, h3, h4, h5, h6) {
    margin-top: 12px;
    margin-bottom: 8px;
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
    margin-top: 14px;
}

.prose p {
    text-align: justify;
    text-justify: inter-word;
}

.prose pre {
    max-inline-size: 100%;
    padding: 1rem;
    border-radius: 8px;
    tab-size: 4;
}

.prose img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
