@import '@fontsource/roboto';
@import '@fontsource/roboto/700.css';
@import '@fontsource/iosevka';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --primary-color: #89b4fa;
    --accent-color: #b4befe;
    --dark-background-color: #11111b;
    --text-color: #cdd6f4;
}

.prose {
    color: var(--text-color);
}

.prose :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 12px;
    margin-bottom: 8px;
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
    margin-top: 20px;
}

.prose p {
    text-align: justify;
    text-justify: inter-word;
}

.prose code {
    background: var(--dark-background-color);
    color: var(--text-color);
    border-radius: 6px;
}

.prose pre {
    background: var(--dark-background-color) !important;
}

.prose strong {
    color: var(--text-color) !important;
}

a:link {
    font-weight: bold;
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: var(--primary-color);
}

.prose img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
